// [C] Variables
// --------------------------------------------- */

// Base Colors
$base-font: #222;
$font-color1: #9C9CAC;
$base-border-color: #e0e0e0;
$point-color: #075B81;
$error-color: #cf5959;
$color-font-gray: #0e0707; 
$link-color: #039be5; 



// Width for Breakpoint
$pc-width: 1280px;
$m-width: 768px;
