/* [C] Content
----------------------------------------------- */
.content{ 
    position: relative;

    // .content-wrap
    &-wrap{
        position: relative; 
        overflow: hidden;
        max-width: $pc-width - 20;
        min-height: 400px;
        padding: 60px 0 80px;
        margin: 0 auto;

        @media screen and (max-width: #{$pc-width - 1}) {
            padding: 24px 24px 48px; 
            min-height: auto;
        }
    }

    // 각 페이지 해더 : .content-head
    &-head{
        background: url('../../assets/images/pc/sub_title_bg_01.jpg') center no-repeat;
        background-size: cover;
        text-align: center;
        height: 229px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        
        h2 {
            font-size:42px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #fff;
            width: 100%;
        }
        p {
            font-size: 14px;
            color: hsla(0,0%,100%,.67);
            font-weight: bold;
        }


        @media screen and (max-width: #{$pc-width - 1}) {
            height: 180px;
            h2 {
                font-size: 30px;
            }
            p {
                display: none;
            }
        }
    }

    // 사이트 이동경로 : .content-path 
    &-path {
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        p {
            display: flex;
            align-items: center; 
            width: $pc-width - 20;
            margin: 0 auto;
            position: relative;
            height: 56px;
        }

        .ico_home {
            width: 13px;
            height: 13px;
            overflow: hidden;
            text-indent:-9999px;
            background: url('../../assets/images/pc/icon_home.svg') 0 0 no-repeat;
            background-size:100%;
        }

        .link,
        .stay {
            padding-left: 18px;
            margin-left: 16px;
            background: url('../../assets/images/pc/bul_arrow_01.png') 0 50% no-repeat;
            line-height: 20px;
            color: #6B6B6B;
            font-weight: 500;
        }


        @media screen and (max-width: #{$pc-width - 1}) {
            p {
                width: auto;
                padding-left: 24px;
            }
        }
    }
}