 
	.header_container {
		position: relative; 
		z-index: 2;
		height: 80px;
		background-color: rgba(68,110,142);
		.inner {
			width: 1260px;
			margin: 0 auto;
			position: relative;
			z-index: 2;
			.logo  {
				position: absolute;
				left: 0;
				top: 14px;
				width: 271px;
				height: 50px;
				background: url('../assets/images/pc/img_logo.png') 0 0 no-repeat;
				overflow: hidden;
				text-indent: -9999px;
				.parents {
					position: absolute;
					left: 0;
					top: 0;
					width: 155px;
					height: 50px;
				}
				.index {
					position: absolute;
					left: 171px;
					top: 0;
					width: 101px;
					height: 50px;
				}
			}
			nav {
				position: absolute;
				right: 0;
				top: 0;
				& > ul {
					display: flex;
					align-items: center;
					height: 100%;
					& > li {
						height: 80px;
						display: flex;
						align-items: center;
						position: relative;
						&:first-child{
							.sub_menu {
								border-left: 1px solid $base-border-color;
							}
						}
						&.on{ 
							z-index: 90;
							> a {
								border-bottom: 2px solid #075b81;
								color: #fff;
							}
							.sub_menu{
								// width: 260px;
								display: block;
								// border: 0;
								z-index: 99;
							}
						}
						> a{
							font-size: 16px;
							color: #fff;
							font-weight: 500;
							display: inline-block;
							width: 150px;
							text-align: center;
							line-height: 76px; 
							border-bottom: 2px solid transparent;
						}
						.sub_menu{
							position: absolute;
							left: 0;
							top: 80px;
							border-right: 1px solid $base-border-color;
							height: 205px;
							width: 150px; 
							ul {
								padding-top: 10px;
								li {
									text-align: center;
									padding: 5px 0;
									a {
										display: inline-block;
										padding-bottom: 5px;
										position: relative;
										&:after {
											content: "";
											position: absolute;
											bottom: 0;
											left: 0;
											width: 100%;
											height: 2px;
											background-color: #075b81;
											opacity: 0;
											transition: opacity .3s,-webkit-transform .3s;
											transition: opacity .3s,transform .3s;
											transition: opacity .3s,transform .3s,-webkit-transform .3s;
											opacity: 1;
											-webkit-transform: scale(0);
											transform: scale(0);
											-webkit-transform-origin: center;
											transform-origin: center
										}
										&:hover {
											text-decoration: none;
											color: #075b81;
											transition: all .5s;
										}
										&:focus:after,
										&:hover:after {
											opacity: 1;
											-webkit-transform: translate3d(0,.2em,0);
											transform: translate3d(0,.2em,0);
											-webkit-transform: scale(1);
											transform: scale(1)
										}
									}
								}
							} 
						}
						.btn_login {
							border: 1px solid #fff;
							width: 104px;
							height: 37px;
							color: #fff;
							background-color: transparent;
							border-radius: 10px;
							margin-left: 35px;
						}
						.btn_language {display: none;}
					}
				}
				.login_menu {
					.sub_menu {
						text-align: center;
						background-image: url('../assets/images/pc/bg_my.png');
						background-position: right bottom;
						background-repeat: no-repeat;
						p {
							padding-top: 15px;
							margin-bottom: 8px;
							color: $base-font;
							strong {
								color: $point-color;
							}
						}
						.btn_member{
							display: inline-block;
							width: 104px;
							height: 31px; 
							text-align: center;
							line-height: 31px;
							font-size: 13px;
							color: #FFF;
							background-color: #7296a7;
						}
					}
				}
				.btn_ham{display: none;}
			}
		}
		&.sub_header {
			background-color: #fff;
			.logo  {
				background: url('../assets/images/pc/img_sub_logo.png') 0 center no-repeat;
			}
			nav { 
				& > ul { 
					& > li { 
						> a{ 
							color: $base-font; 
						}
						.btn_login {
							border: 1px solid $base-font; 
							color: $base-font; 
						} 
					}
				}
			};
		}
		&.active {
			&::after{
				content:"";
				position: absolute;
				left: 0;
				top: 80px;
				right: 0;
				height: 205px;
				background-color: #fff;
				border-top: 1px solid $base-border-color;
				border-bottom: 2px solid $point-color;
			}
		}
		&.activesub_header {
			background-color: #fff;
			.inner {
				.logo {
					background: url('../assets/images/pc/img_sub_logo.png') 0 0 no-repeat;
				}
				nav{
					> ul > li > a {
						color: #6b6b6b;
					}
					.btn_login {
						color: #6b6b6b;
						border: 1px solid #000;
					}
					& + .btn_ham { 
						display: none;
						background-color: #fff;
						&::after {
							color: #000;
						}
					}
				}
			}
			&.activesub_header .inner nav + .btn_ham {
				&::after {
					color: #000;
				}
			}
		}
	} 

	.footer_container {
		position: relative;
		min-width: 1260px;
		height: 150px;
		color: $color-font-gray;
		&::after{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 69px;
			border-bottom: 1px solid #e8e8e8;
		}
		.quck_link {
			width: 1260px;
			margin: 0 auto;
			font-size: 16px; 
			height: 68px;
			display:flex;
			align-items: center;
			a {
				color: $base-font;
			}
			.bar {
				display: inline-block;
				margin: 0 15px;
				width: 1px;
				overflow: hidden;
				text-indent: -999px;
				border-right: 1px solid $base-font;
				height: 15px;
			}
		}
		address {
			width: 1260px;
			margin: 0 auto;
			font-size: 16px; 
			padding-top: 20px;
			font-size: 16px;
			color: $font-color1;
			span {
				display: block;
			}
		}
	}
 
	.location_wrap {
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		p {
			width: 1260px;
			margin: 0 auto;
			position: relative;
			display: flex;
			height: 56px;
			align-items: center; 
			.link {
				padding-left: 20px;
				margin-left: 10px;
				background: url('../assets/images/pc/bul_arrow_01.png') 0 8px no-repeat;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0px;
				color: #6B6B6B;
			}
			.stay {
				padding-left: 20px;
				margin-left: 10px;
				background: url('../assets/images/pc/bul_arrow_01.png') 0 8px no-repeat;
				font-size: 14px;
				line-height: 20px;
				font-weight: normal;
				color: #6B6B6B;
			}
			.ico_home {
				display: inline-block;
				width: 11px;
				height: 10px;
				overflow: hidden;
				text-indent:-9999px;
				background: url('../assets/images/pc/icon_home.svg') 0 0 no-repeat;
			}
		}
	}

    .page_header{
        background: url('../assets/images/pc/sub_title_bg_01.jpg') center no-repeat;
        background-size: cover;
        text-align: center;
        height: 229px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        h2 {
            font-size:42px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #fff;
            width: 100%;
        }
        p {
            font-size: 14px;
            color: hsla(0,0%,100%,.67);
            font-weight: bold;
        }
    }
	

	// 테이블
	.table_hd {
		padding-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		select {
			width: 100px;
			text-indent: 10px;
		}
	}
	.table_footer {
		text-align: center;
		position: relative;
		.rtl {
			position: absolute;
			right: 0;
			top: -5px;
		}
	}

	.table_list{ 
		table {
			table-layout: fixed;
			width: 100%; 
			th {
				border-top: 1px solid $point-color;
				background-color: #f5f5f5;
				color: $point-color;
				text-align: center;
				font-weight: 500;
				padding: 15px 5px;
				font-size: 15px;				
				border-bottom: 1px solid #e0e0e0;
			} 
			tr {
				td {
					text-align: center;
					padding: 15px 5px;
					border-bottom: 1px solid #e0e0e0;
					vertical-align: middle; 
					color: #656565; 
					&.title {
						padding-left: 15px;
						text-align: left;
						a {
							color: #656565; 
							strong {
								color: $point-color;
								font-weight: 700
							}
						}
	
					} 
					.file{
						&::after {
							font-size: 25px;
							font-weight: 300;
							font-family: 'Material Symbols Outlined'; 
							content: "download";
						}
						span {
							display: none;
						}
					}
				}
				&:hover td {
					background-color: #f8f8f8;
				}
				&.grade_1 td {
					background-color: #e8e8e8 ;
				}
				&.grade_2 td {
					background-color: #F9D7D7 ;
				}
				&.grade_3 td {
					background-color: #f9d3ae ;
				}
				&.grade_4 td {
					background-color: #cbf5cb
				}
				&.row_01 th {background-color: #7296a7;border-left: 1px solid #fff;color: #fff;border-bottom: 1px solid #fff;}
				&.row_01 th:first-child {border-left: 0;}
				&.row_02 th {background-color: #f5f5f5;border-top: 2px solid #075b81;}
				&.row_02 th:first-child {border-left: 0;}
			}
		}
		&.line { 
			th, td {
				border-left: 1px solid #e0e0e0;
			}
			td:first-child {
				border-left:0;
			}
			tr:first-child {
				th:first-child {
					border-left:0;
				}

			}
		}
	} 
	.table_view { 
		width: 100%; 
		th {
			border-top: 1px solid #e0e0e0;
			border-bottom: 1px solid #e0e0e0;
			background-color: #f5f5f5;
			color: $point-color;
			text-align: center;
			font-weight: 600;
		}
		td {
			padding: 15px 25px;
			border-top: 1px solid #e0e0e0;
			border-bottom: 1px solid #e0e0e0;
			.imp {
				color: $point-color;
				font-weight: 700;
			}
			.file {
				font-size: 15px;
				line-height: 30px;
				a {
					color: #6b6b6b;
				}
			}

		} 
		&.bdt2 {
			border-top: 2px solid $point-color;
		} 
	}

	.page_wrap {
		text-align: center;
		a { 
			transition: all .3s ease-out;
			display: inline-block;
			padding: 0 5px;
			margin: 0 10px;
			line-height: 36px;
			color: #acacac;
			vertical-align: middle;
			@media (max-width: 768px) {  
				display: none;
			}
			&.front,&.prev,&.next,&.end { 
				line-height: 30px;  
				width: 36px;
				height: 36px;
				border: 1px solid #e0e0e0; 
				box-sizing: border-box;
				padding: 0;
				text-align: center;
				margin: 0 2px;
				span {
					display: none;
				}
				&:hover{
					background-color: #f8f8f8;
				}
			} 
			@media (max-width: 768px) {   
				&.prev, &.next {
					display: inline-block !important;
					width: 80px;
				}
			}
			&.front::after{
				@include googleIconFont('first_page',20px);  
			}
			&.prev::after{
				@include googleIconFont('chevron_left',20px);   
			}
			&.next::after{
				@include googleIconFont('chevron_right',20px);    
			}
			&.end::after{
				@include googleIconFont('last_page',20px);     
			} 
			&:hover{
				color: #000;
			}
		}
		strong {
			display: inline-block;
			padding: 0 5px;
			line-height: 36px;
			color: $point-color;
			margin: 0 10px;
			vertical-align: middle;
			@media (max-width: 768px) { 
				display: none;
			}

		}
	}


	// 버튼
	.btn_wrap {
		text-align: center;
		padding-bottom: 50px;
		a {
			margin: 0 10px;
		}
	}
	.btn_big {
		display: inline-block;
		width: 178px;
		height: 55px; 
		text-align: center;
		line-height: 55px; 
		letter-spacing: 0px;
		color: #FFF;
		font-size: 17px;
		background: $point-color ;
	}
	.btn_small {
		display: inline-block;
		padding: 0 19px;
		height: 30px; 
		text-align: center;
		line-height: 30px; 
		letter-spacing: 0px;
		color: #FFF;
		font-size: 13px;
		background: $point-color ;
	}
	.btn_medium {
		display: inline-block;
		padding: 0 19px;
		height: 39px; 
		text-align: center;
		line-height: 30px; 
		letter-spacing: 0px;
		color: #FFF;
		font-size: 13px;
		background: $point-color ;
	}
	.btn_fileUpload {
		width: 137px;
		height: 39px;
		line-height: 39px;
		text-align: center;
		color: #FFFFFF;
		font-size: 15px;
		background: #6B6B6B;
	}


	// 팝업
	.modal_popup {
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgb(0, 0, 0, 0.3);
		z-index: 9999;
		align-items: center;
		.modal {
			background-color: #fff;
			width: 1260px;
			margin: 0 auto;
			padding: 35px;
			box-sizing: border-box;
			position: relative;
			max-height: calc(100vh - 200px);
			overflow-y: auto;
			& > h2 {
				font-size: 25px;
				color: $point-color;
				margin-bottom: 35px;
			}
			.flex_box {
				display: flex;
				& > section {
					width: 50%;
				}
			}
			.btn_close {
				position: absolute;
				right: 30px;
				top: 10px;
				width: 36px;
				height: 36px;
				span {
					display: none;
				}
				&::after{
					@include googleIconFont('close',40px); 
					font-weight: bold;
				}
			}
		}
		&.show {
			display: flex;
		}
	}

    .flex_box{display:flex;}

	// 텍스트
	.text_notLogin {
		position: relative;
		margin-bottom: 50px; 
		line-height: 60px;
		padding: 0 24px;
		height: 60px;
		background: #CF5959;
		color: #fff;
		font-size: 17px;
		span {
			display: none;
		}
		&::before{
			@include googleIconFont('error',20px);   
			margin-right: 5px;  
			position: relative;
			top: -2px;
		} 
		.btn_close {
			position: absolute;
			right: 10px;
			top: 13px;
			width: 36px;
			height: 36px;
			span {
				display: none;
			}
			&::after{
				@include googleIconFont('close',25px);  
				font-weight: normal;
			}
		}
	}
	
	.text_cation {
		position: relative;
		margin-bottom: 5px;
		color: $error-color;
		line-height: 21px;
		a {
			color: $link-color;
			text-decoration: underline;
		}
		span {
			display: none;
		}
		&::before{
			@include googleIconFont('error',20px);      
			line-height: 21px;
			margin-right: 5px;
			overflow: hidden; 
			position: relative;
			top: -1px;
		}
	}
	
	.text_cation_02 {
		position: relative;
		margin-bottom: 5px; 
		line-height: 21px;
		a {
			color: $link-color;
			text-decoration: underline;
		}
		span {
			display: none;
		}
		&::before{
			@include googleIconFont('error',20px);   
			line-height: 21px;
			margin-right: 5px;
			overflow: hidden; 
			position: relative;
			top: -1px;
		}
	}
	.text_update {
		position: relative;
		margin-top: 10px;
		margin-bottom: 5px;
		color: #999 ;
		span {
			display: none;
		}
		&::before{
			@include googleIconFont('error',20px); 
			position: relative;
			top: -2px;
		}
	}

	.text_notice {
		position: relative;
		margin-bottom: 5px;
		margin-left: 5px;
		span {
			display: none;
		}
		&::before{
			@include googleIconFont('question_mark',10px); 
			border: 1px solid #656565;
			border-radius: 100%;
			width: 12px;
			height: 12px;
			text-align: center;  
			margin-right: 5px;
			position: relative;
			top: -2px;
		}
	}
	
	.sub_title { 
		font-size: 18px;
		color: $point-color;
		margin-bottom: 20px; 
		padding-left: 28px;  
		font-weight: 700; 
		background: url('../assets/images/pc/ico_title_01.png') 0 8px no-repeat; 
	}
	.source_box {
		border: 1px solid #000;
		padding: 20px;
		font-size: 17px;
		margin: 10px 0;
		word-break:break-all;
	}

	// list
	.list_dot{
		margin-left: 20px;
		li {
			padding-left: 12px;
			position: relative;
			font-size: 18px;
			line-height: 1.8;
			padding-bottom: 10px;
			&::before{
				content: "";
				width: 5px;
				height: 5px;
				background-color: $point-color;
				position: absolute;
				left: 0;
				top: 15px;
			}
		}
		& + .sub_title {
			margin-top: 50px;
		}
	} 
	.list_num{
		margin-left: 40px; 
		li { 
			list-style: decimal;
			position: relative;
			font-size: 18px;
			line-height: 1.8;
			padding-bottom: 10px;
			a , &::marker {
				color: #075b81;
			}
		}
		& + .sub_title {
			margin-top: 50px;
		}
	}

	// form
	.form_box { 
		.text_label {
			line-height: 30px;
			margin:0 10px 0 30px;
			@media (max-width: 768px) {  
				margin:0 10px 0 20px;
			}
		}
		& + .form_box {
			padding-top: 10px;
		}
		.entry {
			border:0;
			border-bottom: 1px solid #d9d9d9;
			width: 50px;
			height: 30px;
			text-align: center;
			vertical-align: middle;
			margin: 0 5px;
			color: $point-color;
			&:focus{
				border-bottom: 1px solid $point-color;
				outline:0;
			}
			&.date {
				width: 150px;
			}
		}
		.box {
			padding-left: 20px;
			strong {
				font-weight: normal;
				color: $point-color;
			}
		}
		.btn {
			button {
				margin: 0 5px;
			}
		}
		 
	}
 
	.extend_menu {
		border: 1px solid #DFDFDF;
		padding: 0 20px;
		margin-top: 20px;
		overflow-y: auto;
		height: 300px;
		.search {
			padding: 10px 0;
			font-size: 14px;                    
			color: #6B6B6B;
			input {
				border: 0;
				border-bottom: 1px solid #D9D9D9;
				height: 25px;
				vertical-align: middle;
				margin-left: 10px;
				width: 250px;
			}
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				width: 25%;
				padding-bottom: 5px;
				span {
					font-size: 14px;
				}
			}
		}
	}

	.extend {
		padding: 25px 25px 0;
		&.form_box {padding: 10px 0;}
		li {
			display:flex;
			padding-bottom: 15px;
			.col {
				width: 120px;
			}
		}
	}


@media (max-width: 1279px) { 
		 
	.header_container { 
		height: 80px; 
		z-index: 10;
		background-color: #075b81;
		.inner {
			width: auto;
			margin: 0 auto;
			.logo  {
				position: absolute;
				left: 23px;
				top: 20px;
				width: 213px;
				height: 40px;
				background: url('../assets/images/m/img_logo.png') 0 0 / 213px 40px no-repeat;
				overflow: hidden;
				text-indent: -9999px;
				.parents {
					position: absolute;
					left: 0;
					top: 0;
					width: 127px;
					height: 40px;
				}
				.index {
					position: absolute;
					left: 128px;
					top: 0;
					width: 101px;
					height: 40px;
				}
			}
			nav {
				position: fixed;
				background-color:  rgba(0, 0, 0, 0.49);
				right: 0;
				top: 0;
				bottom: 0;
				left: 0;
				width: auto;
				z-index: 9999;
				display: none;
				overflow-y: auto;
				& > ul {
					position: absolute;
					right: 0;
					top: 80px;
					background-color: #053E58;
					max-width: 320px;
					width: 100%;
					z-index: 9999;
					display: block;
					height: calc(100vh - 80px);
					min-height: 500px;
					& > li { 
						width: 140px;
						box-sizing: border-box;
						display: block;
						padding: 20px 0 0 20px;
						height: auto;
						position: static;
						.btn_login {
							border: 1px solid #fff;
							width: 104px;
							height: 37px;
							color: #fff;
							background-color: transparent;
							border-radius: 10px;
							margin-left: 35px;
							position: absolute;
							left: 0;
							bottom: 20px;
							margin-left: 20px;
						}
						.btn_language {display: none;}
						&::after {
							content: "";
							position: absolute;
							right: 0;
							top: 0;
							bottom: 0;
							background-color: #fff;
							height: 100%;
							z-index: 10;
							width: 190px;
						}
						& > a {
							color: #7296a7 !important;
							font-weight: 300;
							line-height: 1.4;
							width: auto;
							&.on {
								color: #FFF !important;
								border-bottom: 2px solid #fff;
							}
						}
						.sub_menu {
							position: absolute;
							right: 0;
							top: 0;
							left: auto;
							bottom: 0;
							width: 260px;
							height: 100%;
							background-color: #fff;
							display: none;
							ul {
								li {
									text-align: left;
									padding: 8px 20px;
									border-top: 1px solid #DFDFDF;
									&:first-child {
										border-top: 0;
									}
								}
							}
						} 
						&.login_menu .sub_menu {
							position: absolute;
							left: 0;
							border: 0;
							z-index: 90;
							display: block;
							top: auto;
							background: transparent;
							height: auto;
							width: 140px;
							bottom: 24px; 
							color: #fff;
							p, strong{
								color: #fff;
							}
						}
					}
				}
				& + .btn_ham{
					display: block;
					position: absolute;
					right: 0;
					left: auto;
					top: 0;
					width: 80px;
					height: 80px;
					line-height: 0;
					z-index: 99999;
					background-color: #075b81;
					span {display: block;overflow: hidden;text-indent: -9999px;}
					&::after {
						@include googleIconFont("menu", 40px);
						color: #fff;
					}
				}
				&.close {
					display: block;
					ul {
						display: block;
					}
					&+ .btn_ham::after {
						@include googleIconFont("close", 40px);
						color: #fff;
					}
	
				} 
			}
		} 
		&.active {
			&::after{
				display: none;
			}
		}
		&.activesub_header { 
			&.activesub_header {
				.inner {
					.logo  {
						background: url('../assets/images/m/img_sub_logo.png') 0 3px / 211px 28px no-repeat;
					}
					nav + .btn_ham {
						display: block;
						&::after {
							color: #000;
						}
					}
				}
			}
		}
	} 

	.footer_container {
		min-width: auto;
		height: 150px;
		color: $color-font-gray;
		&::after{display: none;}
		.quck_link {
			border-bottom: 1px solid #e8e8e8;
			width: auto;
			margin: 0 auto;
			height: auto;
			flex-wrap: wrap;
			padding: 10px 20px 5px;
			align-content: center;
			a {
				padding-bottom: 5px;
				font-size: 14px;
			}
		}
		address {
			width: auto;
			padding: 10px 20px;
			font-size: 14px;
			span {
				display: block;
				margin-top: 10px;
			}
		}
	}

	.page_header {
		height: 180px;
		h2 {
			font-size: 30px;
		}
		p {
			display: none;
		}
	}

	.location_wrap {
		p {
			width: auto;
			padding-left: 20px;
		}
	}

	.modal_popup .modal {
		padding: 20px;
		max-height: calc(100vh - 100px);
	}

    @media (max-width: 768px) {  
        body .page_wrap {
			strong {
				display: none;
			}
			a {
				display: none; 
				&.prev, &.next {
					display: inline-block !important;
					width: 80px;
				}
			}
        }
    }
}  