@charset "utf-8";  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@400;500;700&display=swap');
@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 400;
	font-display: swap; 
	src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v122/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
  }
   
// https://fonts.google.com/icons?selected=Material+Symbols+Outlined:chevron_left:FILL@0;wght@200;GRAD@0;opsz@48

// variables 
$base-font: #6b6b6b;
$font-color1: #9C9CAC;
$base-border-color: #e0e0e0;
$point-color : #075B81;
$error-color : #cf5959;
$color-font-gray: #0e0707; 
$link-color: #039be5; 


// mixin
@mixin googleIconFont($name, $fz) {
	font-family: 'Material Symbols Outlined';   
	vertical-align: middle;
	font-size: $fz; 
	display: inline-block;
	content: $name; 
}

@mixin defaultLayout() {
    position: relative; 
    overflow: hidden;
    max-width: 1260px;
    padding: 55px 0;
    margin: 0 auto;
}


/* reset
--------------------------------*/
html, body, *{-webkit-overflow-scrolling: touch;}
html ,body {margin:0; padding:0; font-family:'Noto Sans KR', sans-serif; font-weight:400;font-size: 15px;  line-height: 1.43;  color: $base-font; -webkit-text-size-adjust:none; height: 100%}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0; padding:0; -webkit-text-size-adjust:none;}
th,td, input,textarea,select, button {font-size:inherit; color:inherit; font-family:inherit; -webkit-text-size-adjust:none;font-weight:300;}
th,td {word-break:break-all; word-wrap:break-word; -webkit-text-size-adjust:none;}
table {border-spacing:0; border-collapse:collapse; -webkit-text-size-adjust:none; border:0;}
address,caption,cite,code,dfn,em,var {font-style:normal; font-weight:normal; -webkit-text-size-adjust:none;}
em {font-weight:inherit;}
ol,ul ,li {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
abbr,acronym {border:0;}
hr {clear:both; display:none;}
legend, caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0; text-indent:-99999px; font-size:0;}
img, fieldset {border:0 none;}
label {cursor:pointer;}
a {cursor: pointer;color:#6b6b6b;text-decoration:none; -webkit-tap-highlight-color: transparent;}
a:active {text-decoration:none;}
.hide {position:absolute; visibility:hidden; overflow:hidden; height:0; line-height:0; width:0; margin:0; padding:0;}
input, img {vertical-align:middle;}
input, button {border:1px solid #151515; border-radius:0;	box-shadow: none;}
input:disabled {color:$font-color1; background-color: #f4f4f4;}
button {cursor: pointer; border: 0;background-color: transparent;padding: 0;}
textarea {resize:none; border:0;appearance: none; } 
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: $font-color1;
	opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:$font-color1;
}
::-ms-input-placeholder { /* Microsoft Edge */
	color: $font-color1;
}
input[type="number"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {color:$font-color1;}
select {
	width: 200px;
	border: 0;
	height: 45px;
	border-bottom: 1px solid #d9d9d9;
	font-family: inherit;
	background: url('../assets/images/pc/bul_arrow_03.png') no-repeat right 5px center;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.a11y_link a {
	position: absolute;left: -999px;top: 0;  
	&:focus {
		position: static;
		background-color: #000;
		color: #fff;
		font-size: 14px;
		display: block;
	}
}

.checkbox_01 {
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	span {
		position: relative; 
		cursor: pointer;
		display: inline-block;
		height: 25px;
		line-height: 25px; 
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding-left: 25px;
		margin-right: 10px; 
		&::before{
			content: "";
			position: absolute;
			transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
			z-index: 1;
			width: 0;
			height: 0;
			border: 3px solid transparent;
			left: 6px;
			top: 10px; 
			transform: rotate(37deg); 
			transform-origin: 100% 100%;
			border-radius: 1px;
			margin-top: 3px;
		} 
		&::after{
			content: "";
			left: 0;
			position: absolute;
			transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
			height: 17px;
			width: 17px;
			background-color: transparent;
			border: 1px solid  $point-color;
			top: 5px;
			border-radius: 1px;
			z-index: 0;
		}
		&.hidden {
			display: inline-block;
			width: 0;
			overflow: hidden;
			text-indent: -9999px;
			margin-right: 0;
			padding-left: 20px;
		}
	}
	input {
		position: absolute;
		left: -9999px;
		top: 0;
		&:checked + span::after { 
			top: 5px;
			width: 17px;
			height: 17px;
			border: 1px solid #075b82;
			background-color: #075b82;
			z-index: 0;
		}
		&:checked + span::before {    
			top: 4px;
			left: 2px;
			width: 3px;
			height: 8px;
			border-color: transparent #fff #fff transparent;
			border-style: solid;
			border-width: 2px;
			-webkit-transform: rotate(37deg);
			transform: rotate(37deg);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}
			 
	}
	& + .checkbox_01  {
		margin-left: 20px;
	}
}

.checkbox_02 {
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	span {
		position: relative; 
		cursor: pointer;
		display: inline-block;
		height: 16px;
		line-height: 16px; 
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding-left: 25px;
		margin-right: 10px; 
		&::before{
			content: "";
			position: absolute;
			transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
			z-index: 1;
			width: 0;
			height: 0;
			border: 3px solid transparent;
			left: 6px;
			top: 10px; 
			transform: rotate(37deg); 
			transform-origin: 100% 100%;
			border-radius: 1px;
			margin-top: 3px;
		} 
		&::after{
			content: "";
			left: 0;
			position: absolute;
			transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
			height: 14px;
			width: 14px;
			background-color: transparent;
			border: 1px solid  $point-color;
			top: 0;
			border-radius: 1px;
			z-index: 0;
		}
	}
	input {
		position: absolute;
		left: -9999px;
		top: 0;
		&:checked + span::after { 
			top: 0;
			width: 14px;
			height: 14px;
			border: 1px solid #075b82;
			background-color: #075b82;
			z-index: 0;
		}
		&:checked + span::before {
			top: 0px;
			left: 2px;
			width: 2px;
			height: 6px;
			border-color: transparent #fff #fff transparent;
			border-style: solid;
			border-width: 2px;
			-webkit-transform: rotate(37deg);
			transform: rotate(37deg);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}
			 
	}
	& + .checkbox_02  {
		margin-left: 20px;
	}
}

 
.radio_01 {
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	span {
		position: relative;
		padding-left: 25px;
		margin-right: 10px;
		cursor: pointer;
		display: inline-block;
		height: 25px;
		line-height: 25px; 
		transition: .28s ease;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none; 
		&::before{
			content: "";
			position: absolute;
			left: 0;
			top: 0; 
			width: 16px;
			height: 16px;
			z-index: 0;
			transition: .28s ease;
			border-radius: 50%;
			margin-top: 5px;
			border: 1px solid #075b81;
		} 
		&::after{
			content: "";
			position: absolute;
			left: 0;
			top: 0; 
			width: 16px;
			height: 16px;
			z-index: 0;
			transition: .28s ease;
			border-radius: 50%; 
			margin-top: 5px;
			border: 1px solid #075b81;
			transform: scale(0);
		}
	}
	input {
		position: absolute;
		left: -9999px;
		top: 0;
		&:checked + span::after { 
			background-color: #075b82;
			transform: scale(.5);
			margin-top: 5px;
			border: 1px solid #075b81;
		}
		&:checked + span::before {    
			margin-top: 5px;
			border: 1px solid #075b81;
		}
			 
	}
	& + .radio_01  {
		margin-left: 20px;
	}
}
 
